
.icon{
    fill: var(--primary-btn);
    height: 16px;
    width: 16px;
}

.link{
    border-bottom: 1px solid var(--primary-btn);
    line-height: 1;
    color: var(--primary-btn);
}

.button {
    color: var(--primary-btn);
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
}