.dashboard {
    display: grid;
    color: var(--black-text);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 177.69%;
    color: #444366;
    margin-bottom: 10px;
}

.wrapper {
    padding-top: 23px;
    padding-bottom: 25px;
    border-bottom: 1px;
    background: #e7ecf0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 25px;
}

.body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.back__button {
    color: var(--black-text-light);
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    padding-right:  30px;
}

.back__icon {
    fill: var(--black-text-light);
    transform: rotate(180deg);
}

.back__link {
    border-bottom: 1px solid var(--black-text-light);
    line-height: 1;
    color: var(--black-text-light);
}


.delete__icon{
    fill: var(--primary-btn);
}

.delete__link{
    border-bottom: 1px solid var(--primary-btn);
    line-height: 1;
    color: var(--primary-btn);
}

.delete__button {
    color: var(--primary-btn);
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    padding-right:  30px;
}